<div class="row nav-bg-color pt-3 pb-3">
    <div class="row pb-2">
      <h4>Contacto</h4>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>Jorge Buker Gutiérrez</p>
            <p>Instalador eléctrico certificado</p>
            <p>Teléfono: +56 9 9844 9393</p>
            <p>email: jorgebuker@gmail.com</p>
        </div>
        <div class="col-sm-4">
            <p>Hans Buker Gutiérrez</p>
            <p>Ing. Ejecución en Computación e Informática.</p>
            <p>Teléfono: +56 9 7645 4795</p>
            <p>Email: Hansbuker1993@gmail.com</p>
        </div>
    </div>
</div>

