<div class="row">
  <div class="row">
    <h4>Servicios</h4>
  </div>
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Servicios</h3>
      <ul>
          <li>
              <a>Ingeniería Eléctrica, Obras de baja y Media Tensión.</a>
          </li>
          <li>
              <a>Proyectos Eléctricos.</a>
          </li>
          <li>
              <a>Ampliaciones de Potencia, Pre-empalmes trifásicos.</a>
          </li>
          <li>
              <a>Modificaciones de suministros.</a>
          </li>
          <li>
              <a>Instalaciones domiciliarias.</a>
          </li>
          <li>
              <a>Instalaciones de empalmes.</a>
          </li>
          <li>
              <a>Declaración eléctrica.</a>
          </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Servicios</h3>
      <ul>
          <li>
              <a>Ingeniería Eléctrica, Obras de baja y Media Tensión.</a>
          </li>
          <li>
              <a>Proyectos Eléctricos.</a>
          </li>
          <li>
              <a>Ampliaciones de Potencia, Pre-empalmes trifásicos.</a>
          </li>
          <li>
              <a>Modificaciones de suministros.</a>
          </li>
          <li>
              <a>Instalaciones domiciliarias.</a>
          </li>
          <li>
              <a>Instalaciones de empalmes.</a>
          </li>
          <li>
              <a>Declaración eléctrica.</a>
          </li>
      </ul>
    </div>
  </div>
</div>

